.catalog {
  min-width: $small-width;
  margin: 0 auto;
  background-color: $color-catalog-background;
}

.catalog__wrapper {
  display: grid;
  grid-template-areas:
    "ct-title"
    "ct-intro"
    "ct-filter"
    "ct-select"
    "ct-products"
    "ct-pagination";
  grid-template-columns: 1fr;
  padding: 50px 20px 44px;
}

.catalog__title {
  grid-area: ct-title;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 10px;
}

.catalog__intro {
  grid-area: ct-intro;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: math.div(36, 24);
  font-weight: 700;
  text-align: center;
}

.catalog__filter {
  grid-area: ct-filter;
  justify-self: center;
}

.catalog__select {
  grid-area: ct-select;
}

.catalog__products {
  grid-area: ct-products;
}

.catalog__pagination {
  grid-area: ct-pagination;
  justify-self: center;
}

@media (min-width: $medium-width) {
  .catalog__wrapper {
    justify-items: normal;
    padding: 80px 20px 90px;
  }

  .catalog__title {
    margin-bottom: 3px;
  }

  .catalog__intro {
    font-size: 42px;
    line-height: math.div(64, 42);
  }

  .catalog__select {
    justify-self: end;
  }

  .catalog__pagination {
    justify-self: end;
  }
}

@media (min-width: $large-width) {
  .catalog__wrapper {
    grid-template-areas:
      "ct-title  ct-title     "
      "ct-intro  ct-intro     "
      "ct-filter ct-select    "
      "ct-filter ct-products  "
      "ct-filter ct-pagination";
    grid-template-columns: 318px 1fr;
    column-gap: 30px;
    max-width: $large-width;
    margin: 0 auto;
    padding: 100px 40px 120px;
  }

  .catalog__title {
    padding: 0 50px;
  }

  .catalog__intro {
    margin-bottom: 38px;
    padding: 0 50px;
  }

  .catalog__filter {
    align-self: start;
  }
}
