.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
}

.copyright__text {
  margin: 0;
  margin-right: 4px;
  font-size: 12px;
  line-height: math.div(16, 12);
  color: $color-copyright-text;
}

.copyright__link {
  @include link-reset;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: math.div(16, 12);
  color: $color-copyright-text;

  &:hover {
    color: $color-copyright-text-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus-visible {
    color: $color-copyright-text-focus;
    outline: none;
  }

  &:active {
    color: $color-copyright-text-active;
    outline: none;
  }
}

.copyright__logo {
  @include image-normalize;
  flex: 0 0 auto;
  width: 12px;
  height: 16px;
  margin-left: 4px;
}


@media (min-width: $medium-width) {
  .copyright {
    padding: 20px;
  }
}
