.filter {
  display: grid;
  grid-template-areas:
    "fl-range  "
    "fl-milk   "
    "fl-country"
    "fl-buttons";
  grid-template-columns: 1fr;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  &--range {
    grid-area: fl-range;
    margin-bottom: 24.5px;
  }

  &--milk {
    grid-area: fl-milk;
    margin-bottom: 20px;
  }

  &--country {
    grid-area: fl-country;
    margin-bottom: 34px;
  }
}

.filter__legend {
  margin-bottom: 22px;
  padding: 0;
  font-size: 16px;
  line-height: math.div(24, 16);
  font-weight: 600;
}

.filter__list {
  @include list-reset;
}

.filter__fieldset--milk .filter__item:not(:last-child) {
  margin-bottom: 22px;
}

.filter__fieldset--country .filter__item:not(:last-child) {
  margin-bottom: 20px;
}

.filter__input {
  font-family: $font-input;
  font-style: normal;
  font-size: 16px;
  line-height: math.div(24, 16);
  font-weight: 500;
}

.filter__label {
  position: relative;
  padding: 4px;
  font-size: 16px;
  line-height: math.div(24, 16);
  cursor: pointer;
}

.filter__label--radio {
  padding-left: 34px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 24px;
    height: 24px;
    background-color: $color-radio-input-background;
    border: 2px solid $color-radio-input-border;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.filter__input:checked + .filter__label--radio::before {
  background-image: radial-gradient(
    circle closest-side at center,
    $color-radio-input-checked 75%,
    $color-radio-input-background 80%
  );
  border-color: $color-radio-input-border-checked;
}

.filter__input:not(:checked):not(:disabled) + .filter__label--radio:hover::before {
  background-image: radial-gradient(
    circle closest-side at center,
    $color-radio-input-hover 75%,
    $color-radio-input-background 80%
  );
  border-color: $color-radio-input-border-hover;
}

.filter__input:focus-visible + .filter__label--radio::before {
  background-image: radial-gradient(
    circle closest-side at center,
    $color-radio-input-focus 75%,
    $color-radio-input-background 80%
  );
  border-color: $color-radio-input-border-focus;
}

.filter__input:disabled + .filter__label {
  color: $color-radio-input-disabled;
  cursor: default;
}

.filter__input:checked:disabled + .filter__label--radio::before {
  background-image: radial-gradient(
    circle closest-side at center,
    $color-radio-input-disabled 75%,
    $color-radio-input-background 80%
  );
  border-color: $color-radio-input-border-disabled;
}

.filter__input:disabled + .filter__label--radio::before {
  background-image: none;
  border-color: $color-radio-input-border-disabled;
}

.filter__label--checkbox {
  padding-left: 54px;

  &::before {
    position: absolute;
    top: 50%;
    left: 2px;
    content: "";
    width: 42px;
    height: 24px;
    background-color: $color-checkbox-input-background;
    border: 2px solid $color-checkbox-input-border;
    border-radius: 12px;
    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 4px;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $color-checkbox-input;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.filter__input:checked + .filter__label--checkbox::before {
  background-color: $color-checkbox-input-background-checked;
  border-color: $color-checkbox-input-border-checked;
}

.filter__input:checked + .filter__label--checkbox::after {
  left: 22px;
}

.filter__input:not(:checked):not(:disabled) + .filter__label--checkbox:hover::before {
  background-color: $color-checkbox-input-background-hover;
  border-color: $color-checkbox-input-border-hover;
}

.filter__input:focus-visible + .filter__label--checkbox::before {
  background-color: $color-checkbox-input-background-focus;
  border-color: $color-checkbox-input-border-focus;
}

.filter__input:disabled + .filter__label--checkbox::before {
  background-color: $color-checkbox-input-background-disabled;
  border-color: $color-checkbox-input-border-disabled;
}

.filter__input:checked:disabled + .filter__label--checkbox::after {
  left: 22px;
  background-color: $color-checkbox-input-disabled;
}

.filter__buttons {
  grid-area: fl-buttons;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.filter__send {
  min-width: 160px;
  margin-bottom: 24.5px;
  padding: 10px;
  font-size: 13px;
  line-height: math.div(24, 13);
}

.filter__reset {
  min-width: 160px;
  padding: 10px;
  font-size: 14px;
  line-height: math.div(24, 14);
}

@media (min-width: $medium-width) {
  .filter {
    grid-template-areas:
      "fl-range   fl-milk    fl-country"
      "fl-buttons fl-buttons fl-buttons";
    grid-template-columns: 238px 1fr 1fr;
    justify-items: stretch;
    column-gap: 12px;
    width: 728px;
    margin: 0 auto;
  }

  .filter__fieldset {
    &--range {
      margin-bottom: 0;
    }

    &--milk {
      margin-bottom: 0;
    }

    &--country {
      margin-bottom: 0;
    }
  }

  .filter__legend {
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .filter__fieldset--milk .filter__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .filter__buttons {
    flex-direction: row;
    margin-top: 40px;
  }

  .filter__send {
    min-width: 148px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 24.7%;
    padding: 8px 3px;
    font-size: 14px;
    line-height: math.div(24, 14);
  }

  .filter__reset {
    min-width: 138px;
    padding: 8px 3px;
  }
}

@media (min-width: $large-width) {
  .filter {
    grid-template-areas:
      "fl-range  "
      "fl-milk   "
      "fl-country"
      "fl-buttons";
    grid-template-columns: 1fr;
    width: 318px;
  }

  .filter__fieldset {
    &--range {
      margin-top: 4px;
      margin-bottom: 30px;
    }

    &--milk {
      margin-bottom: 30px;
    }

    &--country {
      margin-bottom: 40px;
    }
  }

  .filter__buttons {
    margin-top: 0;
  }

  .filter__send {
    min-width: 150px;
    margin-right: 18px;
    margin-left: 0;
  }

  .filter__reset {
    min-width: 150px;
  }
}
