.footer {
  min-width: $small-width;
}

.footer__wrapper {
  display: grid;
  grid-template-areas:
    "ft-logo      ft-social   "
    "ft-group     ft-group    "
    "ft-copyright ft-copyright";
  grid-template-columns: 122px 1fr;
  column-gap: 18px;
}

.footer__logo {
  grid-area: ft-logo;
}

.footer__social {
  grid-area: ft-social;
}

.footer__group {
  grid-area: ft-group;
}

.footer__copyright {
  grid-area: ft-copyright;
}

@media (min-width: $medium-width) {
  .footer {
    padding: 27px 20px 20px;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 300px;
    column-gap: 0;
  }
}

@media (min-width: $large-width) {
  .footer {
    max-width: $large-width;
    margin: 0 auto;
    padding: 30px 40px 20px;
  }

  .footer__wrapper {
    grid-template-areas:
      "ft-logo      ft-group    "
      "ft-social    ft-group    "
      "ft-copyright ft-copyright";
    grid-template-columns: 330px 1fr;
    align-items: start;
    column-gap: 18px;
  }
}
