.map {
  min-width: $small-width;
  margin: 0 auto;
}

.map__image {
  @include image-normalize;
  width: 320px;
  height: 420px;
  margin: 0 auto;
}

@media (min-width: $medium-width) {
  .map__image {
    width: 768px;
    height: 480px;
  }
}

@media (min-width: $large-width) {
  .map__image {
    width: 1440px;
    height: 540px;
  }
}
