.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: math.div(20, 14);
  color: $color-main;
  background-color: $color-background;
}
