.pagination {
  @include list-reset;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.pagination__button {
  @include button-reset;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: math.div(24, 16);
  text-align: center;
  color: $color-pagination-button-text;
  background-color: $color-pagination-button-background;

  &--previous,
  &--next {
    font-size: 0;
    line-height: 0;
  }

  &--active {
    font-weight: 600;
    color: $color-pagination-button-active-text;
    background-color: $color-pagination-button-active-background;
  }
}

.pagination__icon {
  fill: $color-pagination-icon;
}

.pagination__button--previous .pagination__icon {
  transform: rotate(90deg);
}

.pagination__button--next .pagination__icon {
  transform: rotate(-90deg);
}

@media (min-width: $medium-width) {
  .pagination {
    column-gap: 0;
  }

  .pagination__item:nth-child(3) {
    margin: 0 20px;
  }

  .pagination__button {
    &--previous,
    &--next {
      min-width: 124px;
      width: auto;
      font-size: 14px;
      line-height: math.div(24, 14);
    }
  }

  .pagination__icon {
    display: none;
  }
}
