.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.popup__logo {
  @include image-normalize;
  width: 170px;
  height: 36px;
}

.popup__text {
  font-family: $font-main;
  font-style: normal;
  font-size: 14px;
  line-height: math.div(20, 14);
  font-weight: 400;
  text-align: center;
  color: $color-map-text;
}
