.select {
  display: flex;
  margin: 0 auto;
  margin-bottom: 16px;
}

.select__title {
  margin: 0;
  margin-right: 8px;
  padding: 4px;
  font-size: 16px;
  line-height: math.div(24, 16);
  font-weight: 600;
}

.select__list {
  width: 155px;
  font-family: $font-main;
  font-style: normal;
  font-size: 16px;
  line-height: math.div(24, 16);
  font-weight: 600;
  color: $color-select-text;
  background-color: $color-select-background;
  border: 0;
}
