.slider {
  position: relative;
  min-width: $small-width;
  max-width: 100vw;
}

.slider__toggle {
  @include button-reset;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  width: 20px;
  height: 100%;
  color: $color-slider-toggle-icon;

  &--previous {
    left: 0;
    background-color: $color-slider-toggle-background;
  }

  &--next {
    right: 0;
    background-color: $color-slider-toggle-background;
  }

  &--previous:hover {
    background-image: linear-gradient(90deg, $color-slider-toggle-background-hover 0%, $transparent 100%);
  }

  &--next:hover {
    background-image: linear-gradient(90deg, $transparent 0%, $color-slider-toggle-background-hover 100%);
  }

  &--previous:focus-visible {
    background-image: linear-gradient(90deg, $color-slider-toggle-background-focus 0%, $transparent 100%);
    outline: none;
  }

  &--next:focus-visible {
    background-image: linear-gradient(90deg, $transparent 0%, $color-slider-toggle-background-focus 100%);
    outline: none;
  }

  &--previous:active {
    background-image: linear-gradient(90deg, $color-slider-toggle-background-active-alpha 0%, $color-slider-toggle-background-active 100%);
  }

  &--next:active {
    background-image: linear-gradient(90deg, $color-slider-toggle-background-active 0%, $color-slider-toggle-background-active-alpha 100%);
  }

  &--disabled {
    color: $color-slider-toggle-background-disabled;
    background-color: $color-slider-toggle-background;
    background-image: none;
    cursor: default;
  }

  &:disabled {
    color: $color-slider-toggle-background-disabled;
    background-color: $color-slider-toggle-background;
    background-image: none;
    cursor: default;
  }
}

.slider__toggle-icon {
  margin: auto;

  &--previous {
    transform: rotate(180deg);
  }
}

.slider__pagination {
  display: none;
}

@media (min-width: $medium-width) {
  .slider__toggle {
    width: 80px;
    height: 77%;
  }
}

@media (min-width: $large-width) {
  .slider__toggle {
    height: 100%;

    &--previous {
      left: calc((100vw - $large-width) / 2);
    }

    &--next {
      right: calc((100vw - $large-width) / 2);
    }
  }

  .slider__pagination {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .slider__pagination-button {
    @include button-reset;
    width: 62px;
    height: 24px;
    background-image: linear-gradient(
      $transparent 10px,
      $color-slider-pagination-background 10px,
      $color-slider-pagination-background 14px,
      $transparent 14px
    );

    &--current {
      background-image: linear-gradient(
        $transparent 10px,
        $color-slider-pagination-current 10px,
        $color-slider-pagination-current 14px,
        $transparent 14px
      );
    }

    &:hover {
      background-image: linear-gradient(
        $transparent 10px,
        $color-slider-pagination-hover 10px,
        $color-slider-pagination-hover 14px,
        $transparent 14px
      );
    }

    &:focus-visible {
      background-image: linear-gradient(
        $transparent 10px,
        $color-slider-pagination-focus 10px,
        $color-slider-pagination-focus 14px,
        $transparent 14px
      );
      outline: none;
    }

    &:active {
      background-image: linear-gradient(
        $transparent 10px,
        $color-slider-pagination-active 10px,
        $color-slider-pagination-active 14px,
        $transparent 14px
      );
      outline: none;
    }
  }

  .slider__pagination-button:not(:last-child) {
    margin-right: 8px;
  }
}
