.slide {
  &--white {
    background-color: $color-slider-white-background;
  }

  &--latte {
    background-color: $color-slider-latte-background;
  }

  &--espresso {
    background-color: $color-slider-espresso-background;
  }

  &--hidden {
    display: none;
  }
}

.slide__wrapper {
  display: grid;
  grid-template-areas:
    "sl-image       sl-image      "
    "sl-label       sl-label      "
    "sl-title       sl-title      "
    "sl-description sl-description"
    "sl-price       sl-button     ";
  grid-template-columns: 1fr 1fr;
  min-height: 656px;
  margin: 0 auto;
  padding: 20px 20px 60px;
}

.slide__image {
  grid-area: sl-image;
  justify-self: center;
  width: 280px;
  height: 280px;
  margin: 0;
  margin-bottom: 10px;
}

.slide__label {
  grid-area: sl-label;
  margin: 0;
  margin-bottom: 4px;
  padding: 0 20px;
  font-size: 12px;
  line-height: math.div(16, 12);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-slider-label;
}

.slide__title {
  grid-area: sl-title;
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: math.div(48, 36);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

.slide__description {
  grid-area: sl-description;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: math.div(20, 14);
  text-align: center;
}

.slide__price {
  grid-area: sl-price;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.slide__price-regular {
  margin: 0;
  margin-right: 6px;
  font-size: 16px;
  line-height: math.div(32, 16);
  text-decoration: line-through;
  color: $color-slider-price-regular;
}

.slide__price-promo {
  margin: 0;
  font-size: 20px;
  line-height: math.div(32, 20);
  font-weight: 600;
}

.slide__button {
  grid-area: sl-button;
  align-self: center;
  width: 80%;
  font-size: 16px;
  line-height: math.div(24, 16);
}

@media (min-width: $medium-width) {
  .slide {
    &--white {
      background-color: $color-background;
      background-image: linear-gradient($color-slider-white-background 78%, $color-background 78%);
    }

    &--latte {
      background-color: $color-background;
      background-image: linear-gradient($color-slider-latte-background 78%, $color-background 78%);
    }

    &--espresso {
      background-color: $color-background;
      background-image: linear-gradient($color-slider-espresso-background 78%, $color-background 78%);
    }
  }

  .slide__wrapper {
    grid-template-areas:
      "sl-label       sl-label      "
      "sl-title       sl-title      "
      "sl-description sl-description"
      "sl-price       sl-button     "
      "sl-image       sl-image      ";
    padding: 60px 80px 0;
  }

  .slide__image {
    width: 476px;
    height: 476px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .slide__title {
    margin-bottom: 16px;
    padding: 0 20px;
    font-size: 56px;
    line-height: math.div(80, 56);
  }

  .slide__description {
    padding: 0 20px;
    font-size: 20px;
    line-height: math.div(32, 20);
  }

  .slide__price {
    justify-content: flex-end;
    padding-right: 20px;
  }

  .slide__button {
    width: 37%;
    margin-left: 2px;
  }
}

@media (min-width: $large-width) {
  .slide {
    &--white {
      background-color: $color-slider-white-background;
      background-image: none;
    }

    &--latte {
      background-color: $color-slider-latte-background;
      background-image: none;
    }

    &--espresso {
      background-color: $color-slider-espresso-background;
      background-image: none;
    }
  }

  .slide__wrapper {
    position: relative;
    grid-template-areas:
      "sl-image sl-label       sl-label      "
      "sl-image sl-title       sl-title      "
      "sl-image sl-description sl-description"
      "sl-image sl-price       sl-button     ";
    grid-template-columns: 600px auto 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    column-gap: 30px;
    max-width: $large-width;
    padding: 30px 105px 84px;
  }

  .slide__image {
    width: 600px;
    height: 600px;
    margin-top: 0;
  }

  .slide__label {
    margin-top: 150px;
    padding: 0;
    text-align: left;
  }

  .slide__title {
    padding: 0;
    text-align: left;
  }

  .slide__description {
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
  }

  .slide__price {
    align-self: start;
    padding: 4px 0;
  }

  .slide__button {
    align-self: start;
    width: 113px;
    margin-left: -10px;
  }
}
