.social {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, min-content));
  align-items: center;
  column-gap: 20px;
}

.social__link {
  @include link-reset;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.social__icon {
  margin: auto;
  fill: $color-social-icon;
}

@media (min-width: $medium-width) {
  .social {
    justify-content: end;
  }
}

@media (min-width: $large-width) {
  .social {
    justify-content: start;
    margin-top: 18px;
  }
}
