.social {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, min-content));
  align-items: center;
  column-gap: 20px;
}

.social__link {
  @include link-reset;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  color: $color-social-icon;

  &:hover {
    color: $color-social-icon-hover;
    background-color: $color-social-icon-background-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus-visible {
    color: $color-social-icon-hover;
    background-color: $color-social-icon-background-hover;
    outline: none;
  }

  &:active {
    color: $color-social-icon-hover;
    background-color: $color-social-icon-background-active;
    outline: none;
  }
}

.social__icon {
  margin: auto;
}

@media (min-width: $medium-width) {
  .social {
    justify-content: end;
  }
}

@media (min-width: $large-width) {
  .social {
    justify-content: start;
    margin-top: 18px;
  }
}
