// Шрифты проекта
$font-main: "Montserrat", sans-serif;

$font-button: $font-main;
$font-input: $font-main;
$font-select: $font-main;

// Ширина viewport для разных устройств
$small-width: 320px;
$medium-width: 768px;
$large-width: 1440px;

$small-width-only: 767px;

// Оттенки серого
$transparent: rgba(0, 0, 0, 0);
$color-inverse: #ffffff;

$gray-lighten: #f8f8f8;
$gray-light: #e5e6e8;
$gray: #e2e2e2;
$gray-dark: #bdbdbd;
$gray-darken: #333333;

// Основной цвет проекта
$base-lighten: #f0ebff;
$base-light: #eae6fc;
$base: #9070ec;
$base-dark: #7859cf;
$base-darken: #593cac;

// Второстепенный цвет проекта
$subbase: #f3ebe1;


// Общие цвета
$color-text: $gray-darken;
$color-title: $base-dark;
$color-background: $color-inverse;
$color-button-text: $color-inverse;
$color-button-background: $base-dark;

// Header
$color-header-icon: $gray-darken;
$color-header-link-active: $base-dark;
$color-header-border: $base-lighten;

// Slider
$color-slider-label: $base-dark;
$color-slider-price-regular: $base-dark;
$color-slider-toggle-icon: $base-dark;
$color-slider-toggle-background: $transparent;
$color-slider-pagination-active: $base-dark;
$color-slider-pagination-background: $color-inverse;
$color-slider-white-background: $subbase;
$color-slider-latte-background: $base-light;
$color-slider-espresso-background: $gray-light;

// Catalog
$color-catalog-background: $gray-lighten;

// Filter
$color-filter-reset-button-text: $base-dark;
$color-filter-reset-button-background: $color-inverse;

// Range
$color-range-scale: $gray;
$color-range-level: $base;
$color-range-pin-background: $color-inverse;
$color-range-pin-border: $base;
$color-range-separator: $gray-dark;
$color-range-input-border: $base;

// Radio-input
$color-radio-input-background: $color-inverse;
$color-radio-input-border: $gray-dark;
$color-radio-input-active: $base-dark;
$color-radio-input-active-border: $base-dark;

// Checkbox-input
$color-checkbox-input: $color-inverse;
$color-checkbox-input-background: $gray-dark;
$color-checkbox-input-active-background: $base-dark;

// Select
$color-select-text: $base-dark;
$color-select-background: $transparent;

// Products
$color-product-background: $color-inverse;

// Pagination
$color-pagination-icon: $base-dark;
$color-pagination-button-text: $base-dark;
$color-pagination-button-background: $color-inverse;
$color-pagination-button-active-text: $gray-darken;
$color-pagination-button-active-background: $transparent;

// Map
$color-map-text: $base;

// Social
$color-social-icon: $gray-dark;

// Group
$color-group-title: $base-dark;
$color-group-border: $base-lighten;

// Copyright
$color-copyright-text: $gray-dark;
$color-copyright-logo: $gray-dark;
